html{
	box-sizing: border-box;	
}
*, *:before, *:after {
	box-sizing: inherit;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after{
	clear:both;
}

.clearfix {
	*zoom:1;
}



body{
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	padding:0;
}

.col-md-1{
	width: 33%;
	float:left;
	padding: 20px;
	color: rgb(122,122,122);
}

.up{
	background-color: rgb(112,193,64);
	text-align: center;
	padding: 50px 50px 50px 50px;
	text-transform: uppercase;
	color: white;
	font-size: 25px;
}

.row1{
	margin: 20px;
}

.img-responsive {
	max-width: 100%;
}

.foto {
		text-align: center;
}

@media (max-width: 480px){

	.up{
		max-height: 100vh;
	}
	
	.col-md-1{
		width: 100%;
	}

	body{
		font-size:4vh;
	}
}